<h5>Welcome to Members Only!</h5>
<p>
  <a href="/users/join">Join the club</a> Please enter the
  <a href="#" data-toggle="tooltip" data-trigger="click" title="42">"secret"</a>
  passcode to view author.
</p>